[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
"bs4" = "*"
requests = "*"
"html5lib" = "*"
pykakasi = "*"

[dev-packages]
mypy = "*"
"flake8" = "*"
flask = "*"
ipython = "*"

[requires]
python_version = "3.7"
